/*
 *  Lambdacolors Dark Theme.
 */

/*
 * Background
 */
.lambdacolors_appbar
{
  background-color: #212329 !important
}

.lambdacolors_sidenav
{
  background-color: #22252B !important;
}

.lambdacolors_background
{
  background-color: #262A32 !important;
}
